VITE_SUPABASE_URL=https://mkuuhqvdrzyzymfzrlgz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1rdXVocXZkcnp5enltZnpybGd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1NDE5ODYsImV4cCI6MjA5MTExNzk4Nn0.gxTqicGko10-izPmR7sZw73tok49ai9VluWmxxU7Hwg
